* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: rgb(246, 244, 242);
  font-family: "Avenir Next", "Avenir", sans-serif;
}

main {
  position: absolute;
  padding: 8px;
  left: 320px;
}

#navbar {
  width: 300px;
  height: calc(100% - 16px);
  background-color: rgb(78, 105, 80);
  position: fixed;
  top: 8px;
  left: 8px;
  border: 2px solid rgba(52, 49, 49, 0.363);
  border-radius: 4px;
}

nav header {
  padding: 12px 0;
  text-align: center;
  color: antiquewhite;
  border-bottom: 1px solid rgb(228, 216, 216);
}

nav header h2 {
  color: black;
}

ul {
  list-style: none;
}

nav li {
  border-bottom: 1px dotted rgb(228, 216, 216);
  display: flex;
  min-height: 45px;
  align-items: center;
}

li a {
  padding: 8px 0 8px 0;
  font-size: 1.2rem;
  margin: 8px;
  font-weight: bold;
  text-decoration: none;
  color: antiquewhite;
  font-size: 14px;
}

a:hover {
  color: rgb(194, 191, 118);
}

.active {
  color: rgb(194, 191, 118);
  font-size: 1.2rem;
}

@media (max-width: 560px) {
  #navbar {
    width: 150px;
  }

  main {
    left: 165px;
  }

  nav li {
    min-height: 50px;
  }
}

section {
  border-bottom: 1px dashed rgb(42, 133, 133);
  min-height: 400px;
}

section header {
  font-size: 20px;
  margin-top: 8px;
  border-radius: 8px;
  padding: 8px;
  background-color: rgb(78, 105, 80);
}

p > i {
  padding: 12px;
  display: inline-block;
  width: 75%;
}

i::before {
  margin-right: 8px;
  content: "";
  display: inline-block;
  background-color: rgb(78, 105, 80);
  border: 1px solid rgb(142, 70, 70);
  width: 5px;
  height: 5px;
  border-radius: 8px;
}
