* {
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgb(243, 239, 232);
}

#header {
  background-color: #1e262e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

#header-img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

#nav-bar {
  padding: 0 30px;
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: #ecf0f1;
  text-decoration: none;
  cursor: pointer;
}

main {
  margin: 60px auto;

  max-width: 75%;
  width: 800px;
}

section {
  border: #27363a 1px dotted;
  padding-top: 20px;
  min-height: 400px;
}

section p {
  padding: 20px;
}

#section3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#section3 p {
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

#video {
  width: 50%;
  max-width: 800px;
  height: auto;
  margin: 0 auto;
}

#form {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#email {
  margin: 20px;
  height: 26px;
  min-width: 250px;
}

#submit {
  padding: 10px;
  background-color: #cbbd99c8;
  color: #27363a;
  cursor: pointer;
  border-radius: 8px;
}

#submit:hover {
  background-color: #a9e4b2;
}

@media only screen and (max-width: 768px) {
  #nav-bar {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  #section3 p {
    font-size: 16px;
  }

  #video {
    width: 80%;
  }
  #form {
    flex-direction: column;
  }
}

footer {
  background-color: #1e262e;
  color: white;
  padding: 10px;
  text-align: center;
}
